* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffe6cb;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main {
    color: #404040;
    font-size: 11pt;
    line-height: 24px;
}

main a {
    color: #ff0031;
}

main a:hover {
    color: #acacac;
}

.content {
    margin: auto auto;
    width: 95%;
    max-width: 1200px;
    text-align: center;
    background-color: #ffffff;
}

#title {
    padding: 40px;
    background-color: #ffffff;
}

#title h1 {
    padding: 10px;
    font-size: 30pt;
}

a {
    color: #000000;
    text-decoration: none;
}

a:visited {
    color: none;
}

#title p {
    font-size: 10pt;
}

nav {
    padding: 20px;
    background-color: #ff3e67;
    font-size: 10pt;
    font-weight: bold;
}

nav span {
    padding: 15px;
}


nav a:hover {
    color: #ffffff;
}

#banner {
    position: relative;
}

#banner-img {
    width: 100%;
    height: auto;
}

#welcome {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 560px;
    height: 100%;
    background-color: #ffffff;
    opacity: 0.90;
    overflow: auto;
}

#welcome h2 {
    padding: 64px 0 40px 0;
}

#welcome p {
    padding: 12px 24px;
}

#directory {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 5%;
    box-sizing: border-box;
    padding: 20px 4% 64px 4%;
}

#directory h2 {
    padding: 20px 0;
    font-weight: normal;
    font-size: 14pt;
}

#directory img {
    padding-bottom: 20px;
    max-width: 100%;
}

#directory p {
    text-align: left;
}

#info {
    padding: 40px 0 40px 0;
    text-align: left;
}

#info h2 {
    padding: 0 0 20px 10%;
    font-weight: normal;
}

#info p {
    padding: 0 10%;
    max-width: 800px;
}

#info img {
    padding-left: 10%;
    max-width: 80%;
    height: auto;
}

#credentials {
    font-style: italic;
}

#follow {
    padding: 20px 0 0 10%;
    font-size: 11pt;
}

#email-field {
    padding: 5px;
    max-width: 400px;
    width: 80%;
}

#follow-button {
    width: 90px;
    height: 40px;
    background-color: #ff96a6;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

#follow-button:hover {
    background-color: #ffa5b3;
}

#footer {
    padding: 20px 0px 20px 0px;
    background-color: #404040;
    color: #ffffff;
}

@media (max-width: 768px) {
    #welcome {
        position: relative;
        top: 0;
        left: 0;
        transform: none;
        width: 100%;
        border-bottom: 1px solid #f2f2f2;
    }
    #directory {
        grid-template-columns: auto;
    }
}